<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>
    {% for c in results %}
        <h2>{{c[0]}}</h2>
        <h8>작성자: {{c[1]}}</h8>
        <hr>
        <h4>{{c[2]}}</h4>
        <form action="{{ url_for('delete', id=c[3]) }}" method="post">
            <button type="button" onclick="update()">update</button>
            <button>delete</button>
        </form>
        <button type="button" onclick="back()">back</button>
    <script>
        function update() {
            location.href = "{{ url_for('update', id=c[3]) }}";
        }
        function back() {
            history.go(-1);
        }
    </script>
    {% endfor %}
</body>
</html>
