<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update</h1>
    <hr>
    {% for c in results %}
        <form action="{{ url_for('update', id=c[3]) }}" method="post">
            <h3>title</h3>
            <input type="text" name="title" value="{{c[0]}}" placeholder="{{c[0]}}">
            <br>
            <h3>details</h3>
            <textarea name="details" cols="30" rows="10" placeholder="{{c[2]}}">{{c[2]}}</textarea>
            <br>
            <input type="submit" name="submit" value="submit">
            <button type="button" onclick="cancel()">cancel</button>
        </form>
    {% endfor %}
    <script>
        function cancel(){
            history.go(-1);
        }
    </script>
</body>
</html>